native_cursor-for-GMS1/*

native_cursor-for-GMS2/*
!native_cursor-for-GMS2/assetpackage.yy

native_cursor-for-GMS2.3+/*
!native_cursor-for-GMS2.3+/native_cursor_23.yyp
!native_cursor-for-GMS2.3+/metadata.json

*.yyz
*.yymps