.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/extensions/*/*.js
native_cursor.gmx/extensions/*/*.gml
native_cursor_yy/extensions/*/*.gml
*/datafiles/native_cursor.html

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

autogen.gml
autogen.cpp

*.sdf
help.rtf